<div class="my-course">
    <section class="sec-1">
        <div class="container">
            <div class="row">
                <!-- card -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="card border-secondary">
                        <img class="card-img-top card-item" src="../../../../assets/home/images/oracle.jpg" alt="">
                        <div class="card-body">
                            <div class="parallelogram-blue"></div>
                            <div class="parallelogram-orange"></div>
                            <h5 class="card-title">
                                <div class="parallelogram-text block-with-text">Tên khóa học</div>
                            </h5>
                            <p class="card-text truncate-text demission">Mô tả</p>
                            <span>Giảng viên:
                                <a [routerLink]="['/home/thong-tin-ca-nhan']">
                                    <b>Trần Văn Thắng</b>
                                </a>
                            </span>
                            <br/>
                            <div>
                                <i class="fa fa-users"></i> Số thành viên
                            </div>
                            <div class="text-right">
                                <a [routerLink]="['/home/chi-tiet-khoa-hoc']" class="btn ibtn">Xem chi tiết</a>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <h6 class="price">Giá</h6>
                        </div>
                    </div>
                </div>
                <!-- end card -->
            </div>
        </div>
    </section>
    <section class="sec-2">
        <div class="container">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link">Lùi</a>
                    </li>
                    <li class="page-item">
                        <a href="">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link">Tiến</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
</div>