<div class="lesson">
    <section class="sec-1">
        <div class="container">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/OlH1RCs96JA" frameborder="0" gesture="media" allow="encrypted-media"
                    allowfullscreen></iframe>
            </div>
        </div>
    </section>
    <section class="sec-2">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                    <h3>Bài 1: THẮNG CHÓ</h3>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-right">
                    <button class="btn ibtn-circle-white" type="button">
                        <i class="fa fa-credit-card-alt"></i> Donate</button>
                </div>
            </div>
            <p>Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô
                tả Mô tả Mô tả Mô tả Mô tả Mô tả Mô tả</p>
            <hr>
        </div>
    </section>

    <section class="sec-3">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                    <h5>Nhận xét</h5>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 list-lesson">
                    <h5>Danh sách bài học</h5>
                    <div class="item-lesson">
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/OlH1RCs96JA" frameborder="0" gesture="media" allow="encrypted-media"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <h6>
                                    <a href="#">Bài 2: Thắng chó Thắng chó Thắng chó Thắng chó Thắng chó Thắng chó Thắng chó Thắng chó</a>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="item-lesson">
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/OlH1RCs96JA" frameborder="0" gesture="media" allow="encrypted-media"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <h6>
                                    <a href="#">Bài 2: Thắng chó Thắng chó Thắng chó Thắng chó Thắng chó Thắng chó Thắng chó Thắng chó</a>
                                </h6>
                            </div>
                        </div>
                    </div>

                    <div class="hide-item-lesson text-center">
                        <button type="button" class="btn btn-block ibtn-circle-white" *ngIf="isCollapsed" (click)="isCollapsed = !isCollapsed">Hiển thị thêm
                        </button>
                    </div>

                    <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed">
                        <div class="item-lesson">
                            <div class="row">
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/OlH1RCs96JA" frameborder="0" gesture="media" allow="encrypted-media"
                                            allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    <h6>
                                        <a href="#">Bài 2: Thắng chó Thắng chó Thắng chó Thắng chó Thắng chó Thắng chó Thắng chó Thắng
                                            chó
                                        </a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="item-lesson">
                            <div class="row">
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/OlH1RCs96JA" frameborder="0" gesture="media" allow="encrypted-media"
                                            allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    <h6>
                                        <a href="#">Bài 2: Thắng chó Thắng chó Thắng chó Thắng chó Thắng chó Thắng chó Thắng chó Thắng
                                            chó
                                        </a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sec-4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 list-lesson">
                    <h5>Danh sách bài học</h5>
                    <div class="item-lesson">
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/OlH1RCs96JA" frameborder="0" gesture="media" allow="encrypted-media"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <h6>
                                    <a href="#">Bài 2: Thắng chó Thắng chó Thắng chó Thắng chó Thắng chó Thắng chó Thắng chó Thắng chó</a>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="item-lesson">
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/OlH1RCs96JA" frameborder="0" gesture="media" allow="encrypted-media"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <h6>
                                    <a href="#">Bài 2: Thắng chó Thắng chó Thắng chó Thắng chó Thắng chó Thắng chó Thắng chó Thắng chó</a>
                                </h6>
                            </div>
                        </div>
                    </div>

                    <div class="hide-item-lesson text-center">
                        <button type="button" class="btn btn-block ibtn-circle-white" *ngIf="isCollapsed" (click)="isCollapsed = !isCollapsed">Hiển thị thêm
                        </button>
                    </div>

                    <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed">
                        <div class="item-lesson">
                            <div class="row">
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/OlH1RCs96JA" frameborder="0" gesture="media" allow="encrypted-media"
                                            allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    <h6>
                                        <a href="#">Bài 2: Thắng chó Thắng chó Thắng chó Thắng chó Thắng chó Thắng chó Thắng chó Thắng
                                            chó
                                        </a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="item-lesson">
                            <div class="row">
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/OlH1RCs96JA" frameborder="0" gesture="media" allow="encrypted-media"
                                            allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    <h6>
                                        <a href="#">Bài 2: Thắng chó Thắng chó Thắng chó Thắng chó Thắng chó Thắng chó Thắng chó Thắng
                                            chó
                                        </a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                    <h5>Nhận xét</h5>
                </div>
            </div>
        </div>
    </section>
</div>