<div class="sign">
    <div class="container clog">
        <div class="row">
            <div class="col-12 col-sm-3 col-md-3 col-lg-4 col-lg-4"></div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-lg-4 content-log">
                <div class="brand-logo text-right">
                    <img src="../../../../assets/home/images/3TPL50x50.png" alt="Logo">
                    <span class="brand-name">3TPL</span>
                </div>
                <form>
                    <h3>Đổi mật khẩu</h3>
                    <div class="form-group">
                        <label for="oldpassword">Mật khẩu cũ</label>
                        <input type="password" class="form-control" id="oldpassword" aria-describedby="passwordlHelp" placeholder="Mật khẩu hiện đang sử dụng">
                    </div>
                    <div class="form-group">
                        <label for="newpassword">Mật khẩu cũ</label>
                        <input type="password" class="form-control" id="newpassword" aria-describedby="passwordlHelp" placeholder="Mật khẩu sẽ sử dụng trong tương lai">
                    </div>
                    <div class="form-group">
                        <label for="renewpassword">Mật khẩu cũ</label>
                        <input type="password" class="form-control" id="renewpassword" aria-describedby="passwordlHelp" placeholder="Mật khẩu sẽ sử dụng trong tương lai">
                    </div>
                    <div class="button-log">
                        <button class="btn redibtn btn-block">Đổi mật khẩu</button>
                    </div>
                </form>
            </div>
            <div class="col-12 col-sm-3 col-md-3 col-lg-4 col-lg-4"></div>
        </div>
    </div>
    <nav class="navbar fixed-bottom justify-content-end">
        <div class="text-right">
            <a class="nav-link">3TPL &copy; 2017</a>
            <a class="nav-link" href="#">Giới thiệu</a>
            <a class="nav-link" href="#">Điều khoản</a>
            <a class="nav-link" href="#">Thông tin quảng cáo</a>
        </div>
    </nav>
</div>