<div class="payment">
    <section class="sec-1">
        <div class="container">
            <h1>Thanh toán</h1>
            <hr>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 text-center">
                        <img src="../../../../assets/home/images/oracle.jpg" class="rounded img-thumbnail" alt="...">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-9 col-xl-9">
                    <h2>Hệ quản trị cơ sở dữ liệu Oracle</h2>
                    <h4>Tên giảng viên: Trần Văn Thắng</h4>
                    <h4>Số bài học: 45 tiết</h4>
                    <h4>Chủ đề: Database</h4>
                    <h4 class="text-danger">Giá: 990.000đ</h4>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 text-right">
                    <h3>Tiến hành thanh toán:</h3>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <h3 class="text-danger">0 - 990.000 = -990.000 đ</h3>
                </div>
            </div>
            <div class="text-right">
                <button type="button" class="btn ibtn">Nạp thêm điểm</button>
                <button type="button" class="btn ibtn">Thanh toán</button>
            </div> 
        </div>
    </section>
</div>