<div class="sign">
    <video poster="assets/home/images/background.jpeg" id="bgvid" playsinline autoplay muted loop>
        <source src="assets/home/video/background.mp4" type="video/mp4">
        </video>

        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8"></div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="card card-form">
                        <h2 class="text-center">Đăng ký</h2>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="username">Tên đăng nhập</label>
                                    <input type="text" class="form-control" id="username" aria-describedby="username" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="password">Mật khẩu</label>
                                    <input type="password" class="form-control" id="password" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="re-password">Nhập lại mật khẩu</label>
                                    <input type="password" class="form-control" id="re-password" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="sdt">Số điện thoại</label>
                                    <input type="tel" class="form-control" id="sdt" placeholder="">
                                </div>
                                <div class="text-right"><button type="submit" class="btn btn-primary"><span>Đăng ký</span></button></div>
                            </form>
                        </div>
                        <div class="card-footer text-right">
                            <a routerLink="/pages/dang-nhap"  >Đăng nhập</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>