<div class="sign">
    <div class="container clog log-long">
        <div class="row">
            <div class="col-12 col-sm-3 col-md-3 col-lg-4 col-lg-4"></div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-lg-4 content-log">
                <div class="brand-logo text-right">
                    <img src="../../../../assets/home/images/3TPL50x50.png" alt="Logo">
                    <span class="brand-name">3TPL</span>
                </div>
                <form>
                    <h3>Đăng ký</h3>
                    <div class="form-group">
                        <label for="name">Họ và tên</label>
                        <input type="email" class="form-control" id="name" placeholder="Họ và tên">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Địa chỉ email">
                    </div>
                    <div class="form-group">
                        <label for="password">Mật khẩu</label>
                        <input type="password" class="form-control" id="password" aria-describedby="passwordlHelp" placeholder="Mật khẩu">
                        <small id="passwordHelp" class="form-text text-muted">Mật khẩu không được nhỏ hơn 8 ký tự.</small>
                    </div>
                    <div class="form-group">
                        <label for="repassword">Nhập lại mật khẩu</label>
                        <input type="password" class="form-control" id="repassword" placeholder="Nhập lại mật khẩu">
                    </div>
                    <div class="form-group">
                        <label for="phone">Số điện thoại</label>
                        <input type="tel" class="form-control" id="phone" placeholder="Số điện thoại">
                    </div>

                    <div class="button-log">
                        <button class="btn redibtn btn-block">Đăng ký</button>
                    </div>
                </form>
                <div class="more-content">
                    <a routerLink="../dang-nhap">Đăng nhập</a>
                </div>
            </div>
            <div class="col-12 col-sm-3 col-md-3 col-lg-4 col-lg-4"></div>
        </div>
    </div>

    <nav class="navbar fixed-bottom justify-content-end">
        <div class="text-right">
            <a class="nav-link">3TPL &copy; 2017</a>
            <a class="nav-link" [routerLink]="['/home/gioi-thieu']">Giới thiệu</a>
            <a class="nav-link" [routerLink]="['/home/dieu-khoan-su-dung']">Điều khoản</a>
            <a class="nav-link" href="#">Thông tin quảng cáo</a>
        </div>
    </nav>
</div>