.lesson {
	background: #fff;
	color: #000000;

	section.sec-0 {
		padding: 50px 0 50px 0;
		h1 {
			font-size: 3em;
			font-family: $font1;
		}
	}

	section.sec-1 {
		padding: 81px 0 0 0;
		background: #000000;
	}

	section.sec-2 {
		h3 {
			padding: 50px 0 10px 0;
			font-weight: bold;
			font-size: 1.2em;
			color: #000000;
		}

		.text-right {
			padding: 50px 0 10px 0;
		}

		hr {
			border-top: 1px solid #242424;
		}
	}

	section.sec-3 {
		padding-bottom: 100px;
		.list-lesson {
			// border-right: 1px solid #242424;
			.item-lesson {
				padding: 5px 0 5px 0;
				border-bottom: 1px solid #242424;

				&:last-child {
					border-bottom: 0;
				}
				a {
					color: #000000;
				}
			}

			.ibtn-circle-white {
				margin: 10px 0 20px 0;
			}
		}
		.fbcmt {
			padding: 10px 10px 10px 10px;
			h5 {
				color: #000000;
			}
			background: rgba(255, 255, 255, 0.9);
		}
	}

	section.sec-4 {
		padding-bottom: 100px;
		.list-lesson {
			// border-right: 1px solid #242424;
			.item-lesson {
				padding: 5px 0 5px 0;
				border-bottom: 1px solid #242424;

				&:last-child {
					border-bottom: 0;
				}
				a {
					color: #000000;
				}
			}

			.ibtn-circle-white {
				margin: 10px 0 30px 0;
			}
		}
		.fbcmt {
			background: #ffffff;
		}
	}
}

@media (min-width: 992px) {
	.lesson {
		section.sec-3 {
			display: block;
		}

		section.sec-4 {
			display: none;
		}
	}
}

@media (max-width: 992px) {
	.lesson {
		section.sec-3 {
			display: none;
		}

		section.sec-4 {
			display: block;
		}
	}
}