.recharge {
	section.sec-1 {
		padding: 150px 0 50px 0;
		h1 {
			font-family: $font1;
		}
		.show-note {
			margin: 50px 0 20px 0;
			background: $color4;
			color: #FFFFFF;
			padding: 15px 0 10px 10px;
		}

		h4 {
			text-transform: uppercase;
			color: red;
		}
	}
}